#audio-player {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  opacity: 0.6;
  z-index: 100;

  #audio-info {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    left: 10px;
    margin-right: 10px;
    transition: 0.3s;
    opacity: 0;
    user-select: none;

    &.show {
      left: 0px;
      opacity: 1;
    }

    #audio-title,
    #audio-author {
      display: block;
      font-size: 13px;
      text-align: right;
      color: white;
    }

    #audio-author {
      font-size: 11px;
    }
  }

  #sound-toggle {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    filter: invert(1);
    cursor: pointer;
  }
}
